*.iml
.gradle
/gradle
/.idea
/build.gradle
/local.properties
/app/build
/common/build
/dlnacontroller/build
/livestreaming/build
/openglrendering/build
/videoeditor/build
/videoplayer/build
.DS_Store
/build
/captures
.externalNativeBuild
dlnacontroller/.cxx
videoplayer/.cxx
